<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magazyn</title>

</head>
<body>
<div id="content">
    <form method="post" id="edit-form">
        <input type="text" th:field="*{product.name}" placeholder="description">
        <input type="text" th:field="*{product.descpription}" placeholder="description">
        <input type="text" th:field="*{product.type}" placeholder="image link">
        <input type="text" th:field="*{product.amount}" placeholder="amount">

        <input type="submit">
    </form>
</div>
</body>
</html>